<h1>Quizzes#index</h1>
<li><a href="/quizzes/show">クイズを見る</a></li>
<li><a href="/quizzes/new">クイズを作る</a></li>
<li><a href="/quizzes/edit">クイズを編集する</a></li>
<li><a href="/quizzes/destroy">クイズを削除する</a></li>

