<table>
  <tr>
    <th>quiz_title</th>
  </tr>

<% @quizzes.each do |quiz| %>
  <tr>
    <td><%= quiz.quiz_title %></td>
    <td><%= link_to '編集する', edit_quiz_path(quiz) %></td>
    <td><%= link_to '削除する', quiz, confirm: '本当に削除してもよいですか？', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'クイズページトップへ戻る', quizzes_path %>
