    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Groupquiz</h1>
        <h2>クイズで楽しく情報共有。</h2>
        <p>－－&nbsp;ノウハウ共有ツール Groupquiz&nbsp;－－</p>
        <p>Groupquizは、「クイズで楽しく情報共有ができる」ノウハウ共有ツールです。<br />情報の持ち主に聞かなくても、クイズで皆の知識を増やしましょう。</p>
        <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>


      <!-- Example row of columns -->
      <h2>こんなお困りごとはありませんか？</h2>
      <div class="row">
        <div class="span4">
          <h3>誰がどんな知識をもっているのかわからない...</h3>
           <p>回答履歴検索機能で楽に解決！</p>
          <p><a class="btn" href="#">機能を見る &raquo;</a></p>
        </div>
        <div class="span4">
          <h3>社内勉強会を開いても理解されているのかわからない...</h3>
           <p>獲得メダル数で理解度が確認可能！</p>
          <p><a class="btn" href="#">機能を見る &raquo;</a></p>
       </div>
        <div class="span4">
          <h3>導入した社内WikiやSNSがあまり使われていない...</h3>
          <p>獲得メダル数を社内の評価指標に！</p>
          <p><a class="btn" href="#">機能を見る &raquo;</a></p>
        </div>
      </div>

      <h2>その他に、こんなお困り事も解決します！グループクイズを使うと、仕事が楽しくなります。</h2>
      <p><a class="btn" href="#">すぐに試してみよう &raquo;</a></p>

      <h2>ノウハウ共有ツール「グループクイズ」5つのポイント</h2>


      <!--
    <div id="page">
      <div id="sidebar">
        <ul id="sidebar-items">
          <li>
            <h3>Browse the documentation</h3>
            <ul class="links">
              <li><a href="http://guides.rubyonrails.org/">Rails Guides</a></li>
              <li><a href="http://api.rubyonrails.org/">Rails API</a></li>
              <li><a href="http://www.ruby-doc.org/core/">Ruby core</a></li>
              <li><a href="http://www.ruby-doc.org/stdlib/">Ruby standard library</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div id="content">
        <div id="about">
          <h3><a href="rails/info/properties" onclick="about(); return false">About your application&rsquo;s environment</a></h3>
          <div id="about-content" style="display: none"></div>
        </div>

        <div id="getting-started">
          <ol>
            <li>
              <h2>Use <code>rails generate</code> to create your models and controllers</h2>
              <p>To see all available options, run it without parameters.</p>
            </li>

            <li>
              <h2>Set up a default route and remove <span class="filename">public/index.html</span></h2>
              <p>Routes are set up in <span class="filename">config/routes.rb</span>.</p>
            </li>

            <li>
              <h2>Create your database</h2>
              <p>Run <code>rake db:create</code> to create your database. If you're not using SQLite (the default), edit <span class="filename">config/database.yml</span> with your username and password.</p>
            </li>
          </ol>
        </div>
      </div>
      -->
