<h1><%= @group.title %></h1>
<% @user.each do |u| %>
<p>このグループは<%= u.name %>によって作成されました。</p>
<% end %>
<div class="row-fluid">
  <div class="span9">
    <h2>このグループにあるクイズ</h2>
    <p>この下にはグループにある質問一覧が出てくる。</p>
  </div>
  <div class="span3">
    <div class="well sidebar-nav">
      <h3>グループメンバー一覧</h3>
      <p>ここ間違ってるけど。</p>
      <% @user.each do |u| %>
      <p><%= u.name %></p>
      <% end %>
  </div>
  </div>
</div>
