<h1><%= @group.title %></h1>
<p>このグループは
<% if current_user %>
  <%= current_user.name %>
<% end %>によって作成されました。</p>
<div class="row-fluid">
  <div class="span9">
    <h2>このグループにあるクイズ</h2>
    <p>この下にはグループにある質問一覧が出てくる。</p>
  </div>
  <div class="span3">
    <div class="well sidebar-nav">
      <h3>グループメンバー一覧</h3>
  </div>
  </div>
</div>
