<h1>ユーザーログイン</h1>
<p>右上のLog Inボタンをクリックしてログインしてください。</p>
<h2>Groupquizに登録するとできること</h2>
<ul>
  <li>グループへの参加</li>
  <li>クイズの投稿</li>
  <li>クイズに回答</li>
</ul>
<p>
  <b>保有メダル数ランキング（上記１０名）</b><br>
  <%= @ranking %>
</p>

<p>人気グループランキング（参加数上位５位）</p>
