<h1>ユーザーログイン</h1>
<p>右上のLog Inボタンをクリックしてログインしてください。</p>
<h2>Groupquizに登録するとできること</h2>
<ul>
  <li>グループへの参加</li>
  <li>クイズの投稿</li>
  <li>クイズに回答</li>
</ul>
<p>
  <b>保有メダル数ランキング（上記１０名）</b><br>
  <ul>
  <% @user_ranking.each do |u| %>
    <li><%= link_to u.name, u %></li>
  <% end %>
</ul>
</p>

<p>
  <b>人気グループランキング（参加数上位５位）</b><br>
  <ul>
  <% @group_ranking.each do |g| %>
    <li><%= link_to g.title, g %></li>
  <% end %>
</ul>
</p>
