<h1>Quiz#index</h1>
<li><a href="/quiz/show">クイズを見る</a></li>
<li><a href="/quiz/new">クイズを作成する</a></li>
<li><a href="/quiz/edit">クイズを編集する</a></li>
<li><a href="/quiz/destroy">クイズを削除する</a></li>

<%= link_to 'New Quiz', new_quiz_path %>
