<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Groupquizは<br />無料からお使いいただけます。</h1>
    <h2>有料のプランにお申し込みいただくと、<br />さらに幅広いサービスをご利用いただくことができます。</h2>
    <table class="table table-striped">
      <thead>
        <tr class="plan">
          <th></th>
          <th></th>
          <th class="free">フリー<br /><span>無料のプランです</span></th>
          <th class="personal">パーソナル<br /><span>個人用のプランです</span></th>
          <th class="business">ビジネス<br /><span>企業用のプランです</span></th>
        </tr>
      </thead>
      <tbody>
        <tr class="price">
          <th>価格</th>
          <td class="tooltip">&nbsp;</td>
          <td class="free">無料</td>
          <td class="personal">いくら</td>
          <td class="business">いくら</td>
        </tr>
        <tr class="users">
          <th>ユーザー数</th>
          <td class="tooltip">&nbsp;</td>
          <td class="free">1</td>
          <td class="personal">1</td>
          <td class="business">いくら</td>
        </tr>
        <tr class="storage">
          <th>ストレージ容量</th>
          <td class="tooltip">&nbsp;</td>
          <td class="free">20MB</td>
          <td class="personal">1</td>
          <td class="business">いくら</td>
        </tr>
        <tr class="contact">
          <th>コンタクト可能数</th>
          <td class="tooltip">&nbsp;</td>
          <td class="free">20MB</td>
          <td class="personal">1</td>
          <td class="business">いくら</td>
        </tr>
        <tr class="groups">
          <th>参加可能グループ数</th>
          <td class="tooltip">&nbsp;</td>
          <td class="free">20MB</td>
          <td class="personal">1</td>
          <td class="business">いくら</td>
        </tr>
        <tr class="smartphone">
          <th>スマートフォン対応</th>
          <td class="tooltip">&nbsp;</td>
          <td class="free">○ </td>
          <td class="personal">○ </td>
          <td class="business">○ </td>
        </tr>
        <tr class="advertisement">
          <th>広告非表示</th>
          <td class="tooltip">&nbsp;</td>
          <td class="free">× </td>
          <td class="personal">○ </td>
          <td class="business">○ </td>
        </tr>
        <tr class="search">
          <th>問題検索</th>
          <td class="tooltip">&nbsp;</td>
          <td class="free">× </td>
          <td class="personal">○ </td>
          <td class="business">○ </td>
        </tr>
        <tr class="management">
          <th>ユーザー管理</th>
          <td class="tooltip">&nbsp;</td>
          <td class="free">× </td>
          <td class="personal">○ </td>
          <td class="business">○ </td>
        </tr>
     </tbody>
    </table>
  </div>


  <h2>よくあるご質問</h2>
  <div class="row">
    <div class="span4">
      <h3>誰がどんな知識をもっているのかわからない...</h3>
      <p>回答履歴検索機能で楽に解決！</p>
      <p><a class="btn" href="#">機能を見る &raquo;</a></p>
    </div>
    <div class="span4">
      <h3>社内勉強会を開いても理解されているのかわからない...</h3>
      <p>獲得メダル数で理解度が確認可能！</p>
      <p><a class="btn" href="#">機能を見る &raquo;</a></p>
    </div>
    <div class="span4">
      <h3>導入した社内WikiやSNSがあまり使われていない...</h3>
      <p>獲得メダル数を社内の評価指標に！</p>
      <p><a class="btn" href="#">機能を見る &raquo;</a></p>
    </div>
  </div>

